<div class="container">
    <div id="dmtop">
        <a class="cssLogo" href="{{ path('sdi_front_homepage') }}">SDI</a>
        <nav id="cp-nav">
            <ul class="flexnav" data-breakpoint="800">
                <li class="current"><a href="{{ path('sdi_front_homepage') }}">Acceuil</a></li>
                <li><a href="#">A Propos</a>
                    <ul>
                        <li><a href="{{ path('sdi_front_about') }}">A propos de SGI</a></li>
                        <li><a href="services.html">Certifications</a></li>
                        <li><a href="team-members.html">Affiliations/Partenaires</a></li>

                    </ul>
                </li>
                <li><a href="#">Education</a>
                    <ul>
                        <li><a href="portfolio-filter.html">Nos Cours</a></li>
                        <li><a href="portfolio-without-filter.html">Formulaire d'inscription</a></li>
                        <li><a href="portfolio-single-1.html">Inscription en ligne</a></li>
                    </ul>
                </li>
                <li>
                <li><a href="{{ path('sdi_front_gallery') }}">Gallerie</a></li>
                <li><a href="{{ path('sdi_front_testimonials') }}">Testimonials</a> </li>

                <li><a href="{{ path('sdi_front_contact') }}">Contact</a></li>
            </ul>
        </nav><!-- end #cp-nav -->
    </div><!-- /dmtop -->
</div><!-- /container -->